<!DOCTYPE html>
<html>	
<head>
<title>Brown SRI Fund</title>
<link rel="shortcut icon" href="/sri/favicon.ico">

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
<script type="text/javascript" src="../static/jquery.easing.1.3.js"></script>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<link rel="stylesheet" href="../static/sri_style2.css" type="text/css"/>
<script type="text/javascript">
$(function(){
	$('ul a').bind('click',function(event){
		var $anchor = $(this);

		$('html, body').stop().animate({
			scrollTop: $($anchor.attr('href')).offset().top
		}, 1000,'easeOutExpo');

		event.preventDefault();
	
	});
	});

	
</script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28953916-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% block _head %} {% endblock %}
</head>

<body>

<header>
	<a href="/"><div id="logo"></div></a>
	<a href="/"><div id="title">
		<h1>Brown SRI Fund</h1>
		<h2>Socially Responsible Investing</h2>
	</div></a>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/education" id="aboutus">Education</a></li>
			<li><a href="/portfolio">Portfolio</a></li>
			<li><a href="/guide">Pitch Guide</a></li>
			<li><a href="/pitches">Stock Pitches</a></li>
		</ul>
	</nav>
</header>


{% block _body %} {% endblock %}

<section id="footer">
	<div id="footwrap">
	<ul>
		<li><a href="index.html#about">About Us</a></li>
		<li><a href="contact.html">Leadership Contact Info</a></li>
		<li><a></a></li>
	</ul>
	<ul>
		<li><a href="education.html">Education</a></li>
		<li><a href="education.html/#basics_finance">Basics: Finance</a></li>
		<li><a href="education.html/#basics_sri">Basics: SRI</a></li>
	</ul>
	<ul>
		<li><a href="guide.html">Pitch Guide</a></li>
		<li><a href="guide.html/#choosing">Choosing a Stock</a></li>
	</ul>

	</div>
<div class="fb-like" data-href="http://www.facebook.com/pages/Brown-Socially-Responsible-Investment-Fund/205171569581649" data-send="true" data-width="450" data-show-faces="true"></div>

</section>

</body>
</html>
