{% extends "base.html" %}

{% block _head %}
<link rel="stylesheet" href="../static/css/education.css" type="text/css"/>
{% endblock %}

{% block _body %}
<div id="main_wrapper">

<div id="splash">
	<div id="quote">
		<h3>What's good for society today will be good for business tomorrow</h3>
	</div>
</div>
<div id="wrapping">
<section id="basics_finance">
	<h2>Basics: Finance</h2>
	
	<p>There's more information out there about corporations, finance, and the stock market than we could ever go into here. Luckily, there are a lot of resources out there online. Here are a few we'd recommend if you want to learn more:
	</p>
	<ul>
		<li>
			<a href="http://money.howstuffworks.com/corporation-info.htm">Corporations</a> at HowStuffWorks.com
		</li>
		<li>
			<a href="http://money.howstuffworks.com/personal-finance/financial-planning/stocks.htm">Stocks and the Stock Market</a> at HowStuffWorks.com
		</li>
		<li>
			<a href="http://news.morningstar.com/classroom2/home.asp?colId=80&CN=COM">The Investment Classroom</a> at Morningstar - quite thorough but personal-finance oriented
		</li>
		<li>
		<a href="http://money.howstuffworks.com/corporation-info.htm">Corporations</a> at HowStuffWorks.com
		</li>
		<li><a href="http://www.accountingcoach.com/online-accounting-course/60Xpg01.html">Accounting Basics</a></li>
		<li><a href="http://www.accountingcoach.com/online-accounting-course/04Xpg01.html">Income Statements</a></li>
		<li><a href="http://www.accountingcoach.com/online-accounting-course/60Xpg01.html">Balance Sheets</a></li>
		<li><a href="http://www.accountingcoach.com/online-accounting-course/60Xpg01.html">Cash Flow Statements</a></li>
	</ul>
</section>

<section id="basics_sri">
	<h2>Basics: SRI</h2>
	
	<p>
Corporations rise and fall based on the value of their stock. Investing in a company increases that value, rewarding its business decisions and encouraging competitors to follow in its footsteps. Selling a stock sends the opposite message: falling prices tell managers that they're doing something wrong, and push the company to chart a new course. 
	</p>
	<p>
This means that investments matter on a moral level. Buying stock in a company that does good whether by improving the environment, helping the poor, donating profits to charity, or any number of other things -- helps that company prosper, and encourages competitors to improve their social and environmental practices. Buying stock in a company that hurts people -- through pollution, discrimination, or support of human rights violations helps that company buck criticism, and shows its peers that morally wrong practices can be good for business. Thus, the right investment can be a powerful force for good, while the wrong one can do serious harm. 
	</p>
	<p>
Over the past two decades, a growing number of investors have realized this, and taken steps to ensure that their money isn't supporting activities they find morally wrong. For most, that means divesting from companies involved in genocide, human rights violations, and illegal activity. Many investors have chosen to do even more, and sell stocks in companies involved in war, discrimination, pollution, prostitution, and even tobacco and alcohol. At the most basic level, $2.71 trillion in the U.S. is subject to some form of moral oversight. 
	</p>
	<p>
Today, a small but growing number of investors are going even further: actively using their portfolios for good by investing in companies that better the world, rather than just excluding those that harm it. By doing so, they reward corporations that have taken positive steps toward environmental sustainability, increased philanthropy, better treatment of workers, and new services for the poor and punish those that have not. 
	</p>
	<p>
A number of universities and foundations have joined this movement, and investment management companies have created a host of new socially responsible mutual funds to cater to smaller investors. For some SRI funds, morality isn't even a central goal: they simply figure that what's good for society today will be good for business tomorrow. Studies tracking SRI stocks show that their returns are no worse than the market as a whole.
	</p>
</section>
</div>
{% endblock %}
