{% extends "base.html" %}

{% block _head %}
<link rel="stylesheet" href="{{ STATIC_URL }}styling/css/education.css" type="text/css"/>
{% endblock %}

{% block _body %}

<div id="education-page">
	<div class="container-fluid"> 
		<div id="quote">
			<h3>What's good for society today will be good for business tomorrow</h3>
		</div>  
		<div id="content-container">
     	{% for item in items %}
     		{% if item.collapsed %}  
	    	<div class="accordion" id="accordion-wrapper{{ item.pk }}">
	            <div class="item-group accordion-group">  
	            	<div class="item-heading accordion-heading">  
	                	<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-wrapper" href="#collapse{{ item.pk }}">  
	                  		<h3>{{ item.header }}</h3>
	                	</a>  
	              	</div>  <!-- item-heading -->
		            <div id="collapse{{ item.pk }}" class="item accordion-body collapse" style="height: 0px; ">  
		                <div class="accordion-inner item-body-outer">  
		                	<div class="item-body-inner">
		                  		{% for p in item.paragraph_set.all %}
		                  			<div class = "item-paragraph">
		                  				{% if p.header %}
		                  					<h4 class="item-paragraph-header">{{paragraph.header}}</h4>
		                  				{% endif %}
		                  				<div class="item-paragraph-body">
		                  					{{ p.body }}
		                  				</div>
										<ul class="item-paragraph-links">
					                  		{% if p.link_1_URL %}
					                  		<li class="item-paragraph-link"><a href="{{ p.link_1_URL }}">
					                  			{% if p.link_1_text %}{{ p.link_1_text }}{% else %}{{ p.link_1_URL }}{% endif %}
					                  		</a></li>
					                  		{% endif %}
					                  		{% if p.link_2_URL %}
					                  		<li class="item-paragraph-link"><a href="{{ p.link_2_URL }}">
					                  			{% if p.link_2_text %}{{ p.link_2_text }}{% else %}{{ p.link_2_URL }}{% endif %}
					                  		</a></li>
					                  		{% endif %}	
					                  		{% if p.link_3_URL %}
					                  		<li class="item-paragraph-link"><a href="{{ p.link_3_URL }}">
					                  			{% if p.link_3_text %}{{ p.link_3_text }}{% else %}{{ p.link_3_URL }}{% endif %}
					                  		</a></li>
					                  		{% endif %}
					                  		{% if p.link_4_URL %}
					                  		<li class="item-paragraph-link"><a href="{{ p.link_4_URL }}">
					                  			{% if p.link_4_text %}{{ p.link_4_text }}{% else %}{{ p.link_4_URL }}{% endif %}
					                  		</a></li>
					                  		{% endif %}		
					                  		{% if p.link_5_URL %}
					                  		<li class="item-paragraph-link"><a href="{{ p.link_5_URL }}">
					                  			{% if p.link_5_text %}{{ p.link_5_text }}{% else %}{{ p.link_5_URL }}{% endif %}
					                  		</a></li>
					                  		{% endif %}	       
					                  	</ul>
		                  			</div>
		                  		{% endfor %}
		                  	</div>
		                </div>  <!-- item body outer -->
		            </div>  <!-- item -->
		        </div> <!-- item-group -->
		    </div> <!-- accordion -->
	        {% else %}
	        <div class="non-accordion">
	            <div class="item-group">
	            	<div class="item-heading">
	            		<h3>{{ item.header }}</h3>
	            	</div>
	            	<div class="item">
	            		<div class="item-body-inner">
	            			{% for p in item.paragraph_set.all %}
	                  			<div class = "item-paragraph">
	                  				{% if p.header %}
	                  					<h4 class="item-paragraph-header">{{paragraph.header}}</h4>
	                  				{% endif %}
	                  				<div class="item-paragraph-body">
	                  					{{ p.body }}
	                  				</div>
									<ul class="item-paragraph-links">
				                  		{% if p.link_1_URL %}
				                  		<li class="item-paragraph-link"><a href="{{ p.link_1_URL }}">
				                  			{% if p.link_1_text %}{{ p.link_1_text }}{% else %}{{ p.link_1_URL }}{% endif %}
				                  		</a></li>
				                  		{% endif %}
				                  		{% if p.link_2_URL %}
				                  		<li class="item-paragraph-link"><a href="{{ p.link_2_URL }}">
				                  			{% if p.link_2_text %}{{ p.link_2_text }}{% else %}{{ p.link_2_URL }}{% endif %}
				                  		</a></li>
				                  		{% endif %}	
				                  		{% if p.link_3_URL %}
				                  		<li class="item-paragraph-link"><a href="{{ p.link_3_URL }}">
				                  			{% if p.link_3_text %}{{ p.link_3_text }}{% else %}{{ p.link_3_URL }}{% endif %}
				                  		</a></li>
				                  		{% endif %}
				                  		{% if p.link_4_URL %}
				                  		<li class="item-paragraph-link"><a href="{{ p.link_4_URL }}">
				                  			{% if p.link_4_text %}{{ p.link_4_text }}{% else %}{{ p.link_4_URL }}{% endif %}
				                  		</a></li>
				                  		{% endif %}		
				                  		{% if p.link_5_URL %}
				                  		<li class="item-paragraph-link"><a href="{{ p.link_5_URL }}">
				                  			{% if p.link_5_text %}{{ p.link_5_text }}{% else %}{{ p.link_5_URL }}{% endif %}
				                  		</a></li>
				                  		{% endif %}	       
				                  	</ul>
	                  			</div>
	                  		{% endfor %}
	                  	</div>
		            </div>
		        </div>
		    </div> <!-- non-accordion -->
            {% endif %}
        {% endfor %}
        </div>  <!-- content-container -->
    </div> <!-- container-fluid -->
</div> <!-- education page -->

<!-- Need jquery and boostrap javascript for the collapsing -->
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/docs/assets/js/jquery.js"></script>  
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/docs/assets/js/bootstrap-collapse.js"></script>  

{% endblock %}
