{% extends "base.html" %}

{% load url from future %}

{% block _head %}
<link rel="stylesheet" href="{{ STATIC_URL }}styling/css/home.css" type="text/css"/>
{% endblock %}

{% block _body %}
<div id="page-body" class="container-fluid">  
  <div class="row-fluid">  
	<div id="quote">
		<h3>What's good for society today will be good for business tomorrow</h3>
	</div>     
	<div id="main-content" class="row-fluid">  
	    <div class="span4">  
			<div class="infoblock">
				<h3>Learn more</h3>
				<p>We manage a $30,000 pool of University money, investing in companies that make a profit while bettering the world.The fund's members choose 	and evaluate potential investments and present them to the group, and investment decisions are made by a majority vote.</p>
				<p>Ultimately everything we do is decided by <strong>Brown Students</strong>.</p>
			</div>
	    </div><!--/span-->  
	     <div class="span4">  
	    	<div class="infoblock">
	    		<div id="portfolio-img">
					<img src="{{ STATIC_URL }}styling/images/line_chart.png" height="90px" width="120px">
	    		</div>
				<h3> See our portfolio </h3>
				<p>See what <a href="{% url 'serve_portfolio' %}"> companies </a> we are currently invested in and view our recent activity.</p> 
	 		</div>
	 	</div>
	    <div class="span4">  
			<div id="find-us"class="infoblock">
				<h3>Want to join?</h3>
				<p>We meet every Tuesday at 8:30pm in Wilson 309. Most meetings will include presentation by members on a new potential stock. Other times we 	have teaching or education sessions on a variety of topics. Check out our <a href="http://www.facebook.com/pages/Brown-Socially-Responsible-Investment-Fund/205171569581649">Facebook page</a> for more info!</p>
			</div>
		</div> 
	  </div><!--/span-->  
	</div><!--/row-->
</div><!--/.fluid-container--> 

<div id="about">
	<h2>About us</h2>
	<p>Our purpose is to manage a $30,000 pool of University money, investing in companies and mutual funds that make a profit while bettering the world. Potential investments include green energy research firms, microfinance and community lending banks, medical and pharmaceutical companies, environmentally conscious retailers, and job training or education companies &#8722; and any firm that seeks to mitigate its environmental impact or improve the lives of its customers. The fund's members choose and evaluate potential investments and present them to the group, and investment decisions are made by a majority vote. Ultimately everything we do is decided by Brown students.
	</p>
	<p>
	Brown (very generously) gave us the funding to launch the group in the Spring of 2009 &#8722; so it's a great time to join. Above all, the fund is designed to be a learning experience for everyone involved. Socially responsible investment (SRI) has gained great prominence in both the business and philanthropic communities in recent years. With the launch of this fund, Brown will become one of just a handful of universities to offer undergraduates hands-on experience in the field. Members will learn about a broad array of business and social fields, and gain skills essential for careers in finance, philanthropy, non-profit work, or business. Students with any level of interest and investment experience are welcome.
	</p>
</div>

{% endblock %}


