{% extends "base.html" %}
{% block _body %}

	
<section id="splash">
<div id="quote">
		<h3>What's good for society today will be good for business tomorrow</h3>
</div>

<div id="img_wrapper">
	<div id = "books">
		<img src="http://brownsrif.org/images/book200.png" />
		<h5>Learn</h5>
		<p>Discover the world of socially responsible investing!</p>
	</div>
	<div id="chart">
		<img src="http://brownsrif.org/images/line_chart200b.png" />
		<h5>Invest</h5>
		<p>Pitch companies that you think are worth investing in. Manage our diverse portfolio with fellow group members.</p>
	</div>
	<div id="about_us">
		<img src="http://icons.iconarchive.com/icons/aha-soft/travel/256/compass-icon.png" />
		<h5>Direction</h5>
		<p>Gain experience in <em>socially responsible</em> investing, it's an emerging field full of opportunities.</p>
	</div>
</div>	

</section>

<section id="info">
<div id="infowrap">
<div class="infoblock">
	<h3>Learn more</h3>
	<p>We manage a $30,000 pool of University money, investing in companies that make a profit while bettering the world.The fund's members choose 	and evaluate potential investments and present them to the group, and investment decisions are made by a majority vote.</p>
	<p>Ultimately everything we do is decided by <strong>Brown Students</strong>.</p>
</div>

<div class="infoblock">
	<h3>Want to join?</h3>
	<p>We meet every Tuesday at 8:30pm in Wilson 309. Most meetings will include presentation by members on a new potential stock. Other times we 	have teaching or education sessions on a variety of topics. Check out our <a href="http://www.facebook.com/pages/Brown-Socially-Responsible-Investment-Fund/205171569581649">Facebook page</a> for more info!</p>
<div class="fb-facepile" data-href="http://www.facebook.com/pages/Brown-Socially-Responsible-Investment-Fund/205171569581649" data-max-rows="1" data-width="300" data-colorscheme="dark"></div>
</div>


<div class="infoblock">
	<h3>See our portfolio</h3>
	<p>See what companies we are currently invested in and view our recent activity.</p>
</div>
</div>

</section>
<div id="wrapping">
<section id="about">
<h2>About us</h2>
<p>Our purpose is to manage a $30,000 pool of University money, investing in companies and mutual funds that make a profit while bettering the world. Potential investments include green energy research firms, microfinance and community lending banks, medical and pharmaceutical companies, environmentally conscious retailers, and job training or education companies &#8722; and any firm that seeks to mitigate its environmental impact or improve the lives of its customers. The fund's members choose and evaluate potential investments and present them to the group, and investment decisions are made by a majority vote. Ultimately everything we do is decided by Brown students.
</p>
<p>
This is our second year in operation &#8722; Brown (very generously) gave us the funding to launch the group in the Spring of 2009 &#8722; so it's a great time to join. Above all, the fund is designed to be a learning experience for everyone involved. Socially responsible investment (SRI) has gained great prominence in both the business and philanthropic communities in recent years. With the launch of this fund, Brown will become one of just a handful of universities to offer undergraduates hands-on experience in the field. Members will learn about a broad array of business and social fields, and gain skills essential for careers in finance, philanthropy, non-profit work, or business. Students with any level of interest and investment experience are welcome.
</p>
</section>

</div>
{% endblock %}


