{% extends "new_base.html" %}

{% block _head %}
<link rel="stylesheet" href="../static/styling/css/portfolio.css" type="text/css"/>
{% endblock %}

{% block _body %}

<section id="portfolio-page">
	<div id="portfolio_title">
		<h2> Portfolio </h2>
		<p> Last updated {{last_updated}} </p>
		<p> Total Holdings: {{num_holdings}} </p>
	</div>
	{% if num_holdings > 0 %}
	<div id="portfolio-table">
		<table class="table table-striped">  
	        <thead>  
	          <tr>  
				<th> Purchase Date </th>
				<th> Company Name </th>
				<th> Ticker </th>
				<th> Shares </th>
				<th> Purchase Value </th>
				<th> Current Value </th>
				<th> Change in Value </th>
				<th> Purchase Price </th>
				<th> Current Price </th>
				<th> % Change </th> 
	          </tr>  
	        </thead>  
	        <tbody>  
			{% for stock in stocks %}	
				<tr>
					<td> {{stock.purchase_date}} </td>
					<td> {{stock.name}} </td>
					<td> {{stock.ticker}} </td>
					<td> {{stock.shares}} </td>
					<td> ${{stock.purchase_value}} </td>
					<td> ${{stock.current_value}} </td>
					<td {% if stock.change_in_value < 0 %} class = "red" {% else %} class="green" {% endif %} > ${{stock.change_in_value}} </td>
					<td> ${{stock.purchase_price}} </td>
					<td> ${{stock.current_price}} </td>
					<td {% if stock.change_in_value < 0 %} class = "red" {% else %} class="green" {% endif %} > {{stock.percent_change}}% </td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	{% else %}
		<p> There are currently no stocks in portfolio </p>
	{% endif %}
	</div>
</section>

{% endblock %}

