#splash{
height: auto;

}
h3{
margin-bottom: 0px;
padding: 10px 0px;
}

#methods > p, #methods > li, .choosing p, .choosing li
{
margin: 10px auto;
color: black;
font-family: helvetica;
}

.choosing h2
{
padding-top: 20px;
clear: both;
}


section ol
{
margin: 0 auto;
}

ol p{
color: black;
}

#methods
{
background-color: #F0F0F0;
height: auto;
}

.method
{
width: 300px;
height: 120px;
float: left;
-webkit-transition:background 1s;  
-moz-transition:background 1s;  
-o-transition:background 1s;  
transition:background 1s; 
}

.method p
{
color: black;
}

.method:hover{
background: #999;
cursor: pointer;
}

.green_highlight
{
background: #69AA35 !important;
}

div.hide
{
clear: both;
overflow: hidden;
height: 0px;
-webkit-transition: height 1s;
-moz-transition:height 1s linear;  
-o-transition:height 1s linear;
transition: height 1s;
background: url(../images/ios_folder.png);
box-shadow: inset 0px 8px 8px -6px rgba(0, 0, 0, 0.6);
}

.hide p, .hide ul
{
width: 1200px;
margin: 0 auto;
color: white;
}

.hide ul
{
font-size: 14px;
margin-top: 10px;
}

.hide p
{
margin-top: 20px;
}

section div.expanded
{
height: 120px !important;
}

#footer{
clear: both;
}

.wrapper
{
width: 1200px;
margin: 0px auto;
}

.link{
text-decoration: none;
}

.link h4{
color: black;
}

section#info{
height: 50px;
}

#info ul{
list-style: none;
width: 1090px;
margin: 0 auto;
}

#info li{
float: left;
margin-right: 340px;
font-size: 1.5em;
font-family: helvetica;
margin-top: 11px;
}

#info li:last-child{
margin-right: 0px;
}

#info ul a{
color: #B8E5A2;
text-decoration: none;
}

.method h4{
text-align: center;
}

.method p{
margin-left: 5px;
font-family: Helvetica;
}

.choosing{
position: relative;
box-shadow: inset 0px 6px 6px -6px rgba(0, 0, 0, 0.6);

}

.choosing:before, .choosing:after{
content: "";
position: absolute;
background: white;  /* Match the background */
top: 0;
bottom: 0;
width: 9999px;   /* some huge width */
box-shadow: inset 0px 6px 6px -6px rgba(0, 0, 0, 0.6);
}
.choosing:before {
   right: 100%;
}
.choosing:after {
   left: 100%;
}

.choosing ul{
font-size: 0.9em;
}

.noshadow{
box-shadow: none !important;
}