/*taken from brown.edu page:
brown #3A1E1A;
maroon #C00404;
lighter brown: #8B4513;
green: #69AA35
gray: #F0F0F0;
*/

@font-face{
font-family: "Caecilia";
src: url("../fonts/CaeciliaLTStd-Roman.ttf");
font-weight: normal;
font-style: normal;
}

#header .navbar-inner{
	border-top: .25em solid #C00404;
	background-image: none;
	background-color: white;
}

#header h1{
	font-family: "Caecilia";
	margin-top: 15px;
	margin-bottom: 5px;
}

#header h4{
	width: 400px;
}


#header-nav{
	padding-top: 35px;
	width: 600px;
	color: green;
}
div#header #header-nav li > a{
	color: green;
	font-weight: bold;
	font-size: 18px;
}
div#header #header-nav li.active > a{
	color: #8B4513;
	background-color: white;
	background-image: none;
}	
.green{
	color: green;
}

#page-body{
	background-color: #69AA35;
	margin-top: 110px;
	padding: 100px;	
	padding-top: 10px;
	padding-bottom: 10px
}

#page-body a {
	color: #C00404;
}


/* Footer */
footer{
	background-color: white;
	border-top: 2px solid #C00404;
	color: green;
	padding: 10px;
	padding-left: 100px;
}
footer h5, footer li h5 a{
	color: green;
}
footer li{
	color: #3A1E1A;
}
footer li a{
	color: #3A1E1A;
}
footer .fb-like{
	padding-top: 20px;
}
footer #site-created-by{
	padding-left: 100px;
}
footer #site-created-by li{
	color: gray;
}
footer #site-created-by li{
	font-size: 11px;
}








